{{ form_start(form) }}

{{ form_row(form.title) }}

{% do form.content.setRendered %}
{{ form_errors(form.content) }}
<div>
	<label for="blog_post_content" class="required">Content</label>
	<textarea id="blog_post_content" name="blog_post[content]" required="required"></textarea>
</div>


{{ form_row(form.cover) }}

<button class="btn btn-success btnform">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

<script>
	$(document).ready(function () {
$('#blog_post_content').summernote();
});
</script>

