{% extends 'base.html.twig' %}

{% block title %}BlogPost index{% endblock %}

{% block body %}
    <h1>BlogPost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Cover</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_post in blog_posts %}
            <tr>
                <td>{{ blog_post.id }}</td>
                <td>{{ blog_post.title }}</td>
                <td>{{ blog_post.content }}</td>
                <td>{{ blog_post.cover }}</td>
                <td>{{ blog_post.createdAt ? blog_post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a  class="btn btn-info btnform" href="{{ path('admin_blog_post_show', {'id': blog_post.id}) }}">Voir</a>
                    <a class="btn btn-success btnform" href="{{ path('admin_blog_post_edit', {'id': blog_post.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info btnform" href="{{ path('admin_blog_post_new') }}">Nouvel Article</a>
{% endblock %}
