		<header>
		<div class='logoheader'>
			<img src="{{asset ('assets/images/spaceblog.png')}}">
			</div>

		<a href="{{path('home')}}" class="btn back"><b>Retour</b></a>
		{# <a href="{{path('app_register')}}" class="btn btn-danger">Création de compte</a>
				<a href="{{path('app_login')}}" class="btn btn-danger">log in</a>
				<a href="{{path('app_logout')}}" class="btn btn-danger">log out</a>
					<a href="{{path('admin_blog_post_new')}}" class="btn btn-danger">new</a>
						<a href="{{path('blog_post_index')}}" class="btn btn-danger">index</a> #}
				
		</header>